@using PlastikMVC.Enums
<form method="get" action="@Url.Action("Index", "CustomerService")">
    <div class="form-group">
        <label for="filter">Talepleri Filtrele:</label>
        <input type="text" id="filter" name="filter" class="form-control" placeholder="Filtreleme için bir kelime girin..." />
    </div>
    <button type="submit" class="btn btn-primary">Filtrele</button>
</form>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Talep No</th>
            <th>Başlık</th>
            <th>Talep Açıklaması</th>
            <th>Fiyat</th>
            <th>Durum</th>
            <th>Kullanıcı Adı</th>
            <th>Kullanıcı Email</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Id</td>
                <td>@request.Title</td>
                @if (!string.IsNullOrEmpty(request.Description))
                {
                    <td>@request.Description</td>
                }
                else
                {
                    <td>@request.ProposalDetails</td>
                }
                @if (request.EstimatedPrice != null)
                {
                    <td>@request.EstimatedPrice</td>
                }
                else
                {
                    <td>0</td>
                }
                <td>@request.Status</td>
                <td>@request.CustomerName</td>
                <td>@request.CustomerEmail</td>
                <td>
                    <form method="post" asp-controller="CustomerService" asp-action="UpdateStatus">
                        <input type="hidden" name="requestId" value="@request.Id" />

                        <select name="newStatus" class="form-select">
                            @foreach (var status in Enum.GetNames(typeof(CustomerRequestStatus)))
                            {
                                @if (((CustomerRequestStatus)int.Parse(request.Status)).ToString() == status)
                                {
                                    <option value="@status" selected>@status</option>
                                }
                                else
                                {
                                    <option value="@status">@status</option>
                                }


                            }
                        </select>

                        <button type="submit" class="btn btn-success">Güncelle</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
